<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Struct</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <style>
    input[type="text"] {
      width: 100%;
      padding: 5px 10px;
      border: 1px solid #ddd;
    }
  </style>
</head>
<body>

  <div ng-app="app" class="p-3">

    <div ng-controller="mainController as vm">
      <form name="globalForm" novalidate autocomplete="off">
        <div ng-repeat="result in vm.results">
          <!-- TODO... -->
          <!-- <ng-form name="{{'frm' + $index}}"></ng-form> -->
        </div>
      </form>
    </div>

  </div>


  <!-- template de la directiva euiTabs -->
  <script type="text/ng-template" id="row">
    <div>row</div>
  </script>

  <!-- javascript -->
  <script>

    angular
      .module('app', [])
      .factory('fakeService', function () {
        // Yo siempre utilizo factorias, no he visto ninguna ventaja de los servicios, solo que se escriben diferente
        // y quizás sean un poco más cómodos a la hora de configurar "providers" pero no creo que necesiteis crear ninguno
        return {
          getRows: function () {
            return [
              {id: 1, type: 'VALIDATION_1', title: 'Item 1'},
              {id: 2, type: 'VALIDATION_2', title: 'Item 2'},
              {id: 2, type: 'VALIDATION_1', title: 'Item 3'},
            ];
          }
        };
      })
      .controller('mainController', ['fakeService', function (fakeService) {
        var vm = this;
        vm.results = fakeService.getRows();
      }])
      .directive('rowForm', function () {
        return {
          restrict: 'A',
          require: '^ngForm',
          link: function () {
            // TODO...
          }
        }
      });

  </script>

</body>
</html>

<!-- https://www.sitepoint.com/form-based-directives-angularjs/ -->
