<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Struct</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
</head>
<body>

  <div ng-app="app" class="p-3">

    <div ng-controller="MainController as vm">
      vm.loading: {{vm.loading}}<br>
      vm.results.length: {{vm.results.length}}<br>
      vm.error: {{vm.error}}

      <!-- formulario de busqueda -->
      <form>
        <!-- boton de buscar (disabled si esta buscando para evitar jaleos...) -->
        <button class="px-4 py-2 bg-blue-light" ng-click="vm.search()" ng-disabled="vm.loading">buscar</button>
      </form>

      <!-- si esta cargando muestro el spinner -->
      <app-spinner ng-if="vm.loading" label="esto sería el spinner con algun texto..."></app-spinner>

      <!-- si no esta cargando... -->
      <div ng-if="!vm.loading">
        <!-- si no hay resultados ni error muestro el tipico "no hay resultados con los parametros de busqueda..." -->
        <app-noresults ng-if="!vm.results.length && !vm.error" label="comprueba la búsqueda atún"></app-noresults>

        <!-- si hay error pues lo muestro nose... -->
        <app-error ng-if="vm.error" error="vm.error"></app-error>

        <!-- si hay resultados se hace el ng-repeat -->
        <div ng-if="vm.results.length">
          <div ng-repeat="item in vm.results">{{item}}</div>
        </div>

      </div>
    </div>

  </div>

  <script>

    angular.module('app', [])
      .factory('apiFactory', ['$http', '$q', function ($http, $q) {

        return {
          // el que yo uso normalmente
          searchClients: function (query) {
            // devolver promise... $http ya la devuleve. Haciendo el "then" desde el controller se invoca la funcion. Muy importante el "return"
            return $http.get('http://jsonplaceholder.typicode.com/posts', query);
          },
          // por si necesitais parsear los datos... recomiendo (si necesitais) devolver solamente los datos de la respuesta
          searchClientsAndParseResponse: function (query) {
            return $http
              .get('http://jsonplaceholder.typicode.com/posts', query)
              .then(function (response) {
                return response.data;
              });
          },
          searchClientsAndCatchError: function (query) {
            return $http
              .get('http://jsonplaceholder.typicode.com/posts', query)
              .then(function (response) {
                return response.data;
              }).catch(function (error) {
                console.error('[error en api]', error);
                throw error
                // se puede:
                // - hacer el throw error que haría que fuese transparente este console
                // - llamar a otro servicio gestor de errores
              });
          },
          // simulo un poco lo que hace $http (con $q por debajo)
          // lo uso en este ejemplo
          searchClientsFake: function (query) {
            return $q(function (resolve, reject) {
              setTimeout(function () {
                resolve([
                  {id: 1, name: 'iNa'},
                  {id: 2, name: 'Bego'},
                  {id: 3, name: 'Josu'},
                  {id: 4, name: 'Eduardo'}
                ])
                // reject(new Error('Algo ha ido mal...')); // por si se quiere probar errores
              }, 2000);
            });
          }

        };
      }])
      .controller('MainController', ['apiFactory', function (apiFactory) {

        // los controladores pensad que son unas funciones que
        // mantienen "un estado" acorde a las cosas que van pasando...
        var vm = this;

        // el "estado"
        vm.loading = false;
        vm.results = [];
        vm.query = {};
        vm.error = null;

        // lo pongo en vm porque el boton (desde el html) tambien llama a este método
        vm.search = function () {
          // para evitar jaleos... tambien he puesto algo en el template
          // pero quien sabe que pasara al darle al enter en los campos input...
          if (vm.loading) return;

          vm.loading = true;
          vm.error = null;
          apiFactory
            .searchClientsFake(vm.query)
            .then(function (results) {
              vm.results = results;
            })
            .catch(function (error) {
              vm.error = error.message;
            })
            .finally(function () {
              vm.loading = false;
            });
        }

        vm.search();

      }])

      // directivas de template que recomiendo desarrollar casi casi para cada proyecto...
      .directive('appSpinner', function () {
        return {
          template: '<div class="bg-green p-4">{{label}}</div>',
          strict: 'E',
          scope: {label: '@'}
        };
      })
      .directive('appNoresults', function () {
        return {
          template: '<div class="bg-orange p-4">{{label}}</div>',
          strict: 'E',
          scope: {label: '@'}
        };
      })
      .directive('appError', function () {
        return {
          template: '<div class="bg-red p-4">{{error}}</div>',
          strict: 'E',
          scope: {error: '='}
        };
      });

  </script>

</body>
</html>

