<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sangrado de ojos</title>

  <style>
    input[type="text"] { border: 1px solid #444; }
    .error { background-color: red; color: white; }
    .success { border: 1px solid green !important; }
    .errors { color: red; }
  </style>
</head>
<body>
  <div ng-app="app">
    <div ng-controller="FormController as vm">

      <form name="frm" novalidate autocomplete="off" ng-submit="vm.doSubmit()">
        <div>
          <input type="text" required min-length="8" name="name" ng-model="name" ng-class="{error: !frm.name.$valid}"/>
          required, minLength=8
          <!-- esto de los ng-show si tal y cual es un poco kk pero no se me ocurre otra... el estado $touched se puede cambiar manualmente tambien -->
          <!-- al final el curro de las validaciones esta mas en el template y las directivas de validacion que en el controller -->
          <!-- se resume en crear directivas de tipo attributo que requieran ngModel y le metan el $validator -->
          <!-- en Angular2 y posteriores ya cambia la cosa... -->
          <div class="errors" ng-show="frm.name.$touched">
            <span ng-show="frm.name.$error.required">campo requerido</span>
            <span ng-show="!frm.name.$error.required && frm.name.$error.minLength">mínimo 8 caracteres</span>
          </div>
        </div>
        <div>
          <input type="text" required number max-value="40" name="age" ng-model="age" ng-class="{error: !frm.age.$valid}"/>
          required, maxValue=40, number
          <div class="errors" ng-show="frm.age.$touched">
            <span ng-show="frm.age.$error.required">campo requerido</span>
            <span ng-show="!frm.age.$error.required && frm.age.$error.number">número no válido</span>
            <span ng-show="!frm.age.$error.required && !frm.age.$error.number && frm.age.$error.maxValue">max 40</span>
          </div>
        </div>

        <button ng-disabled="!frm.$valid" type="submit">Enviar datos</button>

        <div>{{frm}}</div>

      </form>

      <!-- para ver la variable frm a tiempo real (MVVM) -->
      <!-- {{frm}} -->
    </div>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.js"></script>
  <script>

    // creo conveniente crear un modulo con todas las validaciones diferentes que os puedan surgir, y luego
    // incluirlo en la declaracion de otros módulos que tengan forms y necesiten validaciones
    angular
      .module('validators', [])
      .directive('minLength', function () {
        return {
          // tienen que ser de tipo attribute porque requieren del controlador de ngModel (ngModelController)
          // se pueden controlar muchas cosas del modelo
          // https://docs.angularjs.org/api/ng/type/ngModel.NgModelController
          restrict: 'A',
          require: 'ngModel',
          link: function (scope, iElement, iAttributes, ngModelController) {
            // le añado al controller del ngModel el/los validadores
            // se suelen usar también mucho los $formatters y $parsers por si quiereis echarle un ojo
            // es bastante cristo mezclar $formatters, $parsers y $validators
            ngModelController.$validators.minLength = function (value) {
              return value && value.length > Number(iAttributes.minLength);
            }
          }
        }
      })
      .directive('maxValue', function () {
        return {
          restrict: 'A',
          require: 'ngModel',
          link: function (scope, iElement, iAttributes, ngModelController) {
            ngModelController.$validators.maxValue = function (value) {
              return value && !isNaN(value) && value <= Number(iAttributes.maxValue);
            }
          }
        }
      })
      .directive('number', function () {
        return {
          restrict: 'A',
          require: 'ngModel',
          link: function (scope, iElement, iAttributes, ngModelController) {
            ngModelController.$validators.number = function (value) {
              return value && !isNaN(value)
            }
          }
        }
      });


    // Main app
    angular.module('app', ['validators'])
      .controller('FormController', ['$scope', function ($scope) {
        var vm = this;
        vm.doSubmit = function () {
          // como veis, angular tiene una directiva prearada que se llama <form> que injecta en $scope las variables del formulario
          // de ahi que sea obligatorio meterle un "name" al form. Ese mismo name lo pone en $scope y se puede acceder a el:
          // - desde el template: //   Es decir, la direciva form, añade a nuestro $scope las variables del formulario sobre el nombre puesto en el template.
          //   Se acceden a ellas "a pelo" sin vm ni nada.
          // - desde el controller (injectando $scope y mirando en $scope.<nombreDelFormPuestoEnTemplate>)
          if (!$scope.frm.$valid) return
          console.log('$scope.frm.name', $scope.frm.name)
          console.log('$scope.frm.age', $scope.frm.age)
        }
      }]);

  </script>
</body>
</html>
