<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Struct</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <style>
    input[type="text"] {
      width: 100%;
      padding: 5px 10px;
      border: 1px solid #ddd;
    }
  </style>
</head>
<body>

  <div ng-app="app" class="p-3">
    <div ng-controller="mainFormController as vm">
      <!-- formiulario global que engloba subformularios -->
      <!-- fijarse que todo el formulario y sus estados se gestiona sin casi código -->

      <div ng-if="!vm.data || vm.data.length === 0">cargando...</div>

      <!-- {{vm.data}} -->

      <form name="globalForm" novalidate autocomplete="off">
        <eui-tabs>
          <eui-tab label="Tab num 1" class="p-3" ng-repeat="item in vm.data">
            <client-form data="item" on-save="save"></client-form>
          </eui-tab>

        </eui-tabs>
      </form>

      <div class="flex mt-2">
        <div class="flex-1 text-right text-red pr-2">
          <span ng-show="!globalForm.$valid">hay errores en alguna pestaña</span>
        </div>
        <div>
          <button ng-disabled="!globalForm.$valid" class="bg-blue text-white px-4 py-2"
            ng-class="{'opacity-50': !globalForm.$valid}">save button</button>
        </div>
      </div>
    </div>
  </div>


  <!-- javascript -->
  <script src="entelgy-ui.module.js"></script>
  <script>
    angular
      .module('app', ['entelgy-ui'])
      .controller('mainFormController', ['$timeout', function ($timeout) {
        var vm = this;
        $timeout(function () {
          vm.data = [
            { id: 1, name: 'in2222a1', surname: 'olalde' },
            { id: 2, name: 'in2222a2', surname: 'olalde' },
            { id: 3, name: 'in2222a3', surname: 'olalde' },
          ];
        }, 1000);
      }])

      .directive('clientForm', function () {
        return {
          restrict: 'E',
          template: [
            '<ng-form name="subfrm" novalidate autocomplete="off">',
              'name: <input required type="text" ng-model="data.name" name="name">',
              'surname: <input required type="text" ng-model="data.surname" name="surname">',
              '<button ng-disabled="!subfrm.$valid" ng-click="vm.saveForm()">save</button>',
            '</ng-form>',
          ].join(''),
          scope: {
            data: '=',
            save: '='
          },
          controllerAs: 'vm',
          controller: ['$scope', function ($scope) {
            var vm = this;
            vm.saveForm = function () {
              console.log('saveeeee', $scope.data);
            };
          }],
          link: function (scope) {
            console.log('clientForm linked', scope.data)
          }
        }
      })
    </script>

</body>
</html>
