<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Struct</title>
</head>
<body>
  <div ng-app="app">No hace nada pero si no hay errores es que las dependencias están ok</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>
  <script>
    // Las variables del server yo las meto siemplre en un módulo pintando directamente en el template *.cs
    angular.module('config', []).constant('config', {
      'apiBaseUrl': '<%=VARIABLE_DEL_SERVER%>/api',
      'username': '<%=SERVER_USER["email"]%>',
    });
  </script>

  <!-- seguramente esto lo gestione vuestro "template" de VisualStudio y no tengais que incluir nada -->
  <script src="entelgy-ui/module.js"></script>
  <script src="clients/module.js"></script>
  <script src="app/module.js"></script>

</body>
</html>
