<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Struct</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
</head>
<body>

  <div ng-app="app" class="p-3">

    <eui-view title="Hola mundo" description="Esto es una prueba simple de directiva">
      <div>asdl kasnd lkasd</div>
    </eui-view>

    <div ng-controller="MainController as vm">
      {{vm.miVar}}
      <eui-simple nombre-de-usuario="vm.miVar" on-done="vm.miDone(a, b)"></eui-simple>
    </div>

  </div>

  <script src="entelgy-ui.module.js"></script>
  <script>
    angular.module('app', [])

      // .directive('euiView', function () {
      //   return {
      //     restrict: 'E',
      //     transclude: true,
      //     template: [
      //       '<div>',
      //       ' <h1>{{title}}</h1>',
      //       ' <h2 class="text-blue">{{description}}</h2>',
      //       ' <div ng-transclude class="pt-2"></div>',
      //       '</div>',
      //     ].join(''),
      //     scope: {
      //       title: '@',
      //       description: '@'
      //     }
      //   }
      // })

      .controller('MainController', ['$scope', '$timeout', function ($scope, $timeout) {
        var vm = this;
        vm.miVar = 'jajajajajaj';
        vm.miDone = function (a, b) {
          console.log('vaaaaa', a, b);
        };
        $timeout(function () {
          vm.miVar = 'jijijijiji';
        }, 1000);
      }])



      .directive('euiSimple', ['$timeout', function ($timeout) {

        // @ strings
        // = variables
        // & funciones
        return {
          restrict: 'E',
          template: '<div class="text-green">{{nombreDeUsuario}}</div>',
          scope: {
            nombreDeUsuario: '=',
            onDone: '&'
          },
          link: function (scope, iElement, iAttributes) {
            $timeout(function () {
              scope.nombreDeUsuario = 'otro valor';
              scope.onDone({a: 'asdasdad', b: 'asdkuhasdkjasgdkhjas'})
            }, 2000);
          }
        };
      }]);

  </script>

</body>
</html>

