<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Super basics</title>
</head>
<body>
  <div ng-app="app">

    <div ng-controller="FormController as vm">
      <div ng-show="miForm.$error.required">asdasdasdas</div>

      <form name="miForm">

        <input type="checkbox" ng-model="vm.checkValue" /> {{checkValue}}
        <input ng-model="vm.data.name" ng-required="vm.checkValue" /> {{vm.name}}
        <input ng-model="vm.data.surname" /> {{vm.surname}}

        <button ng-click="vm.guardar()">save</buttve>
        <button ng-click="vm.removeRequired()">quitar requerido</buttve>
      </form>

    </div>

    <!--
    <div ng-controller="FormController2 as vm">
      a: {{vm.a}}
    </div> -->
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.js"></script>
  <script>

    // Main app
    angular.module('app', [])
      .controller('FormController', ['$scope', function ($scope) {
        var vm = this;

        vm.checkValue = true;
        vm.isRequired = true;
        vm.data = {
          name: '',
          surname: ''
        };

        vm.guardar = function () {
          console.log('vm.data', vm.data)
        };
        vm.removeRequired = function () {
          vm.isRequired = !vm.isRequired;
        }

        // vm.a = 1;
        // $scope.a = 1;
      }])
      // .controller('FormController2', ['$scope', function ($scope) {
      //   // var vm = this;
      //   // vm.a = 2;
      //   // $scope.a = 2;
      // }]);

  </script>
</body>
</html>
